* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.piggy {
  height: 10rem;
  width: 10rem;
  padding-bottom: -2rem;
}

.sprite {
  position: absolute;
  top: 75%;
  left: 90%;
  text-align: center;
}

.sprite figcaption {
  margin-top: -2rem;
}


.main-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 90rem;
  background-image: url('https://media.istockphoto.com/id/1368169112/vector/money-green-seamless-pattern-vector-background-included-line-icons-as-piggy-bank-wallet.jpg?s=612x612&w=0&k=20&c=qjIUpnUPtiKGBgLnXGLQ_4qQUq36OvP82DIFTAdch70=');
  gap: 1rem;
  flex-wrap: wrap;
}

.bal-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #529c2f;
  border-radius: 1rem;

}

.balance {
  border: solid;
  border-radius: 1rem;
  width: 70rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
}


.transaction-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 20rem;
  width: 25rem;
  border: solid;
  gap: .5rem;
  background-color: #529c2f;
  border-radius: 1rem;
}

.transaction-box input {
  width: 20rem;
  height: 3rem;
  border-radius: 1rem;
  text-indent: 1rem;
}

.transaction-box button {
  width: 10rem;
  height: 3rem;
  font-size: 1rem;
  border-radius: 1rem;
}

.input-box {
  padding-top: 3.4rem;
}


.transaction-table {
  border: solid;
  height: 20rem;
  width: 44rem;
  text-align: center;
  overflow-y: scroll;
  background-color: #529c2f;
  border-radius: 1rem;
  padding-left: .5rem;
}



table {
  text-align: center;
  width: 100%;;
}

::-webkit-scrollbar {
  scrollbar-width: thin;
}

  /*For homepage styling} */
/*
.box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
  border: solid red;
  gap: 1rem; 
  padding-left: 5rem;
  padding-right: 5rem;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15rem;
  width: 20rem;
  flex-grow: 1;
  border: solid;
}

.box:hover {
  transform: scale(1.1);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 100%;
  background-color: #f0f0f0;
  font-size: .5rem;
}

*/