body, #root {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100vw; 
    height: 100vh; 
    font-family: Arial, Helvetica, sans-serif;
}

.dash-container {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    display: flex;
}

#sidebar {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.445);;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 15rem;
    padding: 1rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease; 
    transform: translateX(-100%);
}

#sidebar.open {
    transform: translateX(0%); 
}

#dash-display {
    width: 100%;
    padding: 1rem;
}

.burger-menu-btn {
    margin-top: 1rem;
    margin-left: 5rem;
    padding: .5rem;
    border-radius: 1rem;
}

.toggle-btn {
    width: 6rem;
    height: 2rem;
    position: absolute;
    z-index: 10;
    bottom: 1rem;
    left: 4.5rem;
    border-radius: 1rem;
}

.toggle-btn.open {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    text-align: center;
  }

.login {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 5rem 0;
    margin: 0 auto;
}

.login input {
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;;
}

.login form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.login button {
    padding: 0.5rem 1rem;
}



.createAccountForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 20px;
    padding: 50px; 
    width: auto; 
    margin: 0 auto; 
}

.label  {
    color: #ffffff;
    font-weight: bold;
    padding: 5px;
}

.input {
    border-radius: 5px;
    height: 2rem;
    width: 20rem;
    text-align: center;
}

.latestHistory {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    width: auto;
    margin: 0 auto;
}
.accountCreated {   
    display:list-item;
    justify-content: center;
    align-items: center;
}


.admin-input-container {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    gap: .5rem;
}

.form-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
    gap: 1rem;
}

.form {
    background-color: rgba(0, 0, 0, 0.767);
    width: 30rem;
    border-radius: 1rem;
    color: white;
}

.form button {
    border-radius: 1rem;
}


.dash-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

#head-users {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    height: 35rem;
    background-color: rgba(0, 0, 0, 0.651);
    padding: 2rem;
    border-radius: 1rem;
    color: white;
    overflow-y: scroll;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

.login-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 20rem;
    background-color: rgba(0, 0, 0, 0.822);
    border-radius: 1rem;
    border: solid;
}

.login-box h1 {
    color: white;
}

.login-box input {
    border-radius: 1rem;
    width: 15rem;
}

.login-box button {
    border-radius: 1rem;
}

::-webkit-scrollbar {
    scrollbar-width: thin;
}
