
.error-heading {
    font-size: 8rem;
    padding-top: 1rem;
    color: #529c2f;
}

.error-subheading {
    padding-top: 1rem;
}

i {
    text-decoration: underline;
}

#error-page {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 1;
}

#error-page {
content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.473) 60%, rgba(0,0,0,0.8) 100%);
  z-index: 0;
}

.return-btn p{
    color: rgb(255, 255, 255);
    z-index: 1;
  }

