* {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.navbar {
  background-color: #ececec;
  height: 3rem;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1rem;
}

.navbar ul {
  display: flex;
  width: fit-content;
  gap: 1rem;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  float: left;
}

.navbar .logo {
  height: 70%;
  margin-left: 1rem;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #555;
}

.account-creation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: beige;
  width: 50rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

table {
  text-align: center;
  margin: 0 auto;
  width: 50%;
  border-collapse: collapse;
  height: 10rem;
  overflow-y: scroll;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}


.dash-box {
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.promo-boxes {
  display: flex;
  gap: 1rem;
  width: 100%;
  height: 100%;
  flex-wrap: wrap; /* Allow boxes to wrap to the next line */
}

.interest-box {
  background-image: url("https://public.bnbstatic.com/static/academy/uploads-original/46a184309e364b479e884344ceced661.png");
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
  width: 30rem;
  height: 20rem;
}

.rebate-box {
  background-image: url("https://i.pinimg.com/originals/8c/51/7e/8c517e9f374301dac541dff78bce1188.jpg");
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  border: solid;
  width: 30rem;
}

.cashback-box {
  background-image: url('https://media.istockphoto.com/id/1165375652/vector/time-and-money-time-is-money.jpg?s=612x612&w=0&k=20&c=jUbY9jz3hdjnqE7cq0-5E5AE9GNgJIwoPrHo4fcI1EM=');
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
  width: 20rem;
  height: 20rem;
  flex-grow: 1;
}

#box {
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#box:hover {
  transform: scale(1.1);
  transition: ease-in 0.1s;
}

.cashback-box, .rebate-box, .interest-box {
  width: 30%;
  height: 40%;
}

#landing-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
